

.MainBlock {
    position: relative;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
    height: 100%;
}

.ChildBlock{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0 0 20px 20px;
    
    
}


.M1{
    background: linear-gradient(180deg, rgba(91, 15, 93, 0.19) 0%, rgba(0, 0, 0, 0.7) 100%);
  
 
}

.C1{
    background: #F39094;
}

.M3{
    background: linear-gradient(180deg, rgba(91, 15, 93, 0.19) 0%, rgba(0, 0, 0, 0.7) 100%);

}

.C3{
    background: rgba(168, 168, 168, 0.7);
}
.M2{
    background: linear-gradient(180deg, rgba(91, 15, 93, 0.19) 0%, rgba(0, 0, 0, 0.7) 100%);

}

.C2{
    background: rgba(136, 255, 248, 0.7);
}

.M4{
    background: linear-gradient(180deg, rgba(91, 15, 93, 0.19) 0%, rgba(0, 0, 0, 0.7) 100%);

}

.C4
{
    background: #806C47;
}


.imgC{
    max-width: 100%;
    height: auto;
    object-fit: none;
}


.pl{
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
}
.spanl{
position: relative;
 font-size: 24px;
 margin-bottom: 10px;
 font-weight: 200;
 transition: all 0.3s linear;
}
.spanl::before{
    position: absolute;
    content: '';
    opacity: 0;
    width: 130%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: -2px;
    transition: opacity 0.3s linear;
       
 }
.spanl:hover::before{
   opacity: 1;
       
 }

.spanl::after{
   position: absolute;
    content: '';
    width: 10px;
  
    height: 10px;
  
    border-top: 2px solid white !important;
  
    border-right: 2px solid white !important;
  
    margin: 16px 0 0 10px;
  
    display: inline-block;
    transform: rotate(-225deg);

    top:-2px;
      
}

hr{
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    height: 10px;
    width: 80%;
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.childflex{
    align-self: center;
}


.imgC{
    /* width: 50%; */
    align-self: center;
}

.customN{
    position: relative;
    color:rgba(255, 249, 249, 0.5);
    transition: color 0.3s linear;
}

.customN:hover{
   
    color:white;
    
}

.customN:hover::before{
   
    border-top: 1px solid white !important;
    border-right: 1px solid white !important;
    
}
.customN::before{
  content: '';
  width: 10px;

  height: 10px;

  border-top: 1px solid rgba(255, 249, 249, 0.5) !important;

  border-right: 1px solid rgba(255, 249, 249, 0.5) !important;

  margin: 16px 0 0 10px;

  display: inline-block;
  transform: rotate(-135deg);
  transition: all 0.3s linear;
}


